<div class="body">
<div class="container">
    <h1>Register</h1>
    <p>Each field marked with (*) is required</p>

    <form class="registerBox" [formGroup]="form" (ngSubmit)="register()">
        <div class="itemGroup">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" formControlName="username">
        </div>
        <div class="itemGroup">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" formControlName="email">
        </div>
        <div class="itemGroup">
            <label for="tel">Phone number</label>
            <input type="text" id="tel" name="tel" formControlName="tel">
        </div>
        <div class="itemGroup">
            <label for="password">Password</label>
            <input type="text" id="password" name="password" formControlName="password">
        </div>
        <div class="itemGroup">
            <label for="rePass">Repeat Password</label>
            <input type="text" id="rePass" name="rePass" formControlName="rePassword">
        </div>

        <button>Register</button>
    </form>
</div>
</div>