.body {
    background-color: #9fb5c8;
    padding: 40px;
    height: 600px;
}

.container {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid #6a3434;
}

.container h1 {
    text-align: center;
    font-size: 36px;
    color: #6a3434;
    margin-bottom: 10px;
}

.loginBox {
    display: flex;
    flex-direction: column;
}

.itemGroup {
    margin-bottom: 15px;
}

.itemGroup label {
    font-size: 24px;
    color: #333;
}

.itemGroup input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #6a3434;
    border-radius: 5px;
    font-size: 20px;
}

.itemGroup input:focus {
    outline: none;
    border-color: #a65e5e; 
}

button {
    margin-left: 75px;
    width: 50%;
    margin-top: 10px;
    padding: 12px;
    background-color: #6a3434;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a65e5e; 
}
