<div class="details-container" *ngIf="furniture">
    <div class="details-card">
      <div class="details-image">
        <img [src]="furniture.img" alt="{{ furniture.model }}" />
      </div>
      <div class="details-info">
        <h2>{{ furniture.model }}</h2>
        <p class="price">Price: ${{ furniture.price }}</p>
        <p><strong>Owner:</strong> {{ furniture.userId.username }}</p>
        <p><strong>Phone Number:</strong> {{ furniture.userId.tel }}</p>
        <p><strong>Year:</strong> {{ furniture.year }}</p>
        <p><strong>Description:</strong> {{ furniture.description }}</p>
        <p><strong>Material:</strong> {{ furniture.material }}</p>
      </div>
      <button (click)="goBack()" class="back-button">Back to Gallery</button>
    </div>
  </div>